<html>
<head>
  <title>Torre de Hanói</title>
  <!-- CSS do projeto-->
  <link rel="stylesheet" type="text/css" href="../resources/styles/style.css" />
</head>
<body>
<div class="demo-block" id="main">
  <h1>Torre de Hanói</h1>
  <div id="game-container"></div>
  <p id="step-information">
    Quantidade de movimentos feitos: <span id="step">0</span>.
    Quantidade máxima de movimentos: <span id="max-step">0</span>
  </p>
  <p>
    <label for="number-of-discs">Número de discos:</label>
    <select id="number-of-discs">
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select> |
    <a id="restart" href="#">Restart</a> |
    <a id="menu"    href="index.html">Menu</a>
  </p>
</div>

<script src="../resources/scripts/jquery-1.7.1.min.js"></script>
<script src="../resources/scripts/jquery-ui.min.js"></script>
<script src="../resources/scripts/TowerOfHanoi.min.js"></script>
<script>
jQuery(function() {
  // Inicia o jogo e seleciona o número de discos
  var game = new Game({
    numOfDiscs: 3,
    afterInit: function(g) {
      jQuery('#max-step').text(g.maxSteps);
    },
    afterStep: function(g) {
      var steps = g.getSteps();
      jQuery('#step').text(steps);
      setTimeout(function() {
        if ( g.isWin() == 1 ) {
          alert("You win!");
          g.freeze();
        } else if (steps >= g.getMaxSteps()) {
          alert("Game over!");
          g.freeze();
        }
      }, 200);
    }
  });
  var stepInformation = jQuery('#step-information');
  var stepInfoText;

  // Função de restart
  jQuery('#restart').click(function(e) {
    game.restart();
    jQuery('#max-step').text(game.maxSteps);
    jQuery('#step').text(0);
    e.preventDefault();
  });
  
  // Função que alter o número de discos no jogo
  function gameChange() {
    if (!confirm("Isso irá reiniciar o jogo, tem certeza disso?")) {
      return false;
    }
    var discs = jQuery('#number-of-discs').val();
    var pegs  = 3; //Valor definitivo de pegs
    game.restart({
      numOfPegs: pegs,
      numOfDiscs: discs,
      destinationPeg: pegs,
    });
    jQuery('#max-step').text(game.maxSteps);
    jQuery('#step').text(0);
  }

  jQuery('#number-of-discs').change(gameChange);
  jQuery('#number-of-pegs').change(gameChange);
});
</script>
</body>
</html>